.room-list-wrapper {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
  overflow-y: auto;
}

.room-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  gap: 12px;
  cursor: pointer;
  transition: background 0.2s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  /* Avatar hoặc group avatar */
  .ant-avatar {
    flex-shrink: 0; // avatar không bị co lại
  }

  .room-circular-avatar-group {
    display: flex;
    align-items: center;
    justify-content: flex-start; // luôn sát trái
    flex-shrink: 0;

    .room-avatar-circle {
      position: relative;
      width: 40px;  // khung chứa avatar group bằng avatar thường
      height: 40px;
    }

    .room-circle-avatar {
      border: 1px solid white;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .remaining-count {
      background-color: #bebebeff;
      color: white;
      font-size: 10px;
      font-weight: bold;
    }
  }

  .room-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .room-name {
      font-size: 16px;
      font-weight: 500;
      color: black;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .last-message {
      font-size: 14px;
      color: #757575;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .room-time {
    font-size: 12px;
    color: #757575;
    white-space: nowrap;
    margin-left: auto; // đẩy sát phải
  }
}
