@use "sass:map";
@import "../../../style/theme";

.admin-header {
  position: fixed;
  width: calc(100% - 220px);
  z-index: 101;
  background: #fff;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e8eb;
  transition: all 0.3s ease;

  h2 {
    margin: 0;
    color: #1890ff;
    font-weight: 500;
    font-size: 18px;

    body.dark-theme & {
      color: #e8e8f2;
    }
  }

  .admin-user {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 12px;
    transition: all 0.3s ease;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }

    .ant-avatar {
      margin-right: 5px;
    }

    .admin-profile {
      display: flex;
      flex-direction: column;
      gap: 1px; 
      
      span {
        padding: 0;
        margin: 0;
        line-height: 1.4;
        
        &:first-child {
          font-weight: 500;
          font-size: 14px;
          color: #2f3640;
        }
        
        &:last-child {
          font-weight: 400;
          font-size: 12px;
          color: #8c8c8c;
          text-transform: capitalize; 
        }
      }
    }
  }
}

body.theme-dark {
  .admin-header {
    background: map.get($theme-colors, "bg-dark-blue");
    border-bottom: 1px solid #36465d;

    h2 {
      color: #ffffff;
    }

    .admin-user {
      &:hover {
        background: rgba(255, 255, 255, 0.08);
      }

      .ant-avatar {
        border: none;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
      }

      .admin-profile {
        span {
          &:first-child {
            color: #ffffff;
          }
          
          &:last-child {
            color: #b3b3b3;
          }
        }
      }
    }
  }
}