@use "sass:map";
@import "../../../style/theme";

.sidebar {
  height: 100vh;
  width: 64px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
              border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
              color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  .user-avatar {
    margin-bottom: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      border-color: #888;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    }
  }

  .icon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &.top {
      margin-top: 12px;
    }

    &.bottom {
      margin-top: auto;
      margin-bottom: 0px;
    }

    .icon-item {
      font-size: 26px;
      color: #606060;
      cursor: pointer;
      padding: 8px;
      border-radius: 8px;
      transition: all 0.3s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        color: #222;
      }

      &.active {
        background-color: #e7e7e7;
        color: #707070;
      }

      svg {
        display: block;
      }
    }
  }
}

.upgrade-pro-item {
  font-weight: 500 !important;
  transition: all 0.3s ease !important;
  background: linear-gradient(135deg, #feffe5 0%, #ffffff 100%) !important;
  color: #eac700 !important; 

  &:hover {
    background: linear-gradient(135deg, #feffe5 0%, #feffe5 100%) !important;
    box-shadow: 0 2px 8px rgba(114, 46, 209, 0.15);
  }
}

body.theme-dark {
  .sidebar {
    background-color: map.get($theme-colors, "bg-dark");
    border-right: 2px solid rgba(255, 255, 255, 0.1);

    .user-avatar {
      border: 2px solid rgba(148, 163, 184, 0.3);

      &:hover {
        border-color: #bebebe;
        box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
      }
    }

    .icon-group {
      .icon-item {
        color: #ffffff;

        &:hover {
          background-color: rgba(148, 163, 184, 0.1);
          color: #e2e8f0;
        }

        &.active {
          background-color: #3e3e40;
          color: #f1f5f9;
        }
      }
    }
  }

  .upgrade-pro-item {
    background: linear-gradient(135deg, rgba(209, 187, 46, 0.2) 0%, rgba(35, 35, 30, 0.5) 100%) !important;
    color: #FFD700 !important; 

    &:hover {
      background: rgba(209, 201, 46, 0.3) !important;
      color: #FFD700 !important;
    }
  }
}
