@use "sass:map";
@import "../../../style/theme";

.sidebar {
  height: 100vh;
  width: 64px;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
  border-right: 2px solid rgba(0, 0, 0, 0.1);

  .user-avatar {
    margin-bottom: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      border-color: #888;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    }
  }

  .icon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &.top {
      margin-top: 12px;
    }

    &.bottom {
      margin-top: auto;
      margin-bottom: 0px;
    }

    .icon-item {
      font-size: 26px;
      color: #555;
      cursor: pointer;
      padding: 8px;
      border-radius: 8px;
      transition: all 0.3s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        color: #222;
      }

      &.active {
        background-color: #d8d8d8;
        color: #656565;
      }

      svg {
        display: block;
      }
    }
  }
}

body.theme-dark {
  .sidebar {
    background: map.get($theme-colors, "bg-dark");
    border-right: 2px solid rgba(255, 255, 255, 0.1);

    .user-avatar {
      border: 2px solid rgba(148, 163, 184, 0.3);

      &:hover {
        border-color: #bebebe;
        box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
      }
    }

    .icon-group {
      .icon-item {
        color: #ffffff;

        &:hover {
          background-color: rgba(148, 163, 184, 0.1);
          color: #e2e8f0;
        }

        &.active {
          background-color: #3e3e40;
          color: #f1f5f9;
        }
      }
    }
  }
}
