.sidebar {
  height: 100vh;
  width: 64px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  .user-avatar {
    margin-bottom: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      border-color: #ffffff;
      box-shadow: 0 0 6px rgba(42, 42, 42, 0.6);
    }
  }

  .icon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &.top {
      margin-top: 12px;
    }

    &.bottom {
      margin-top: auto;
      margin-bottom: 12px;
    }

    .icon-item {
      font-size: 26px;
      color: #555; /* màu mặc định icon */
      cursor: pointer;
      padding: 8px;
      border-radius: 8px;
      transition: all 0.3s;

      &:hover {
        background-color: rgba(220, 220, 220, 0.6);
        //color: #fff;
      }

      &.active {
        background-color: rgba(42, 42, 42, 0.6);
        color: #fff;
      }

      svg {
        display: block;
      }
    }
  }
}
