@use "sass:map";
@import "../../../style/theme";

.sidebar-wrapper {
  background-color: #ffffff;
  color: #1f2937; 
  height: 100vh;
  transition: all 0.3s;

  body.theme-dark & {
    background-color: map.get($theme-colors, "bg-dark");
    color: #e5e7eb;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
  }
}
