@use "sass:map";
@import "../../../style/theme";

.admin-sider {
  position: fixed;     
  top: 0;
  left: 0;
  height: 100vh;        
  width: 220px;        
  overflow: hidden;     
  z-index: 100;  
  
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-right: 1px solid #e6e8eb;
  transition: all 0.3s ease;
  font-weight: 500;


  .admin-logo {
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    gap: 8px;
    padding: 15.5px 16px;
    font-weight: 700;
    font-size: 20px;
    color: #1890ff;
    border-bottom: 1px solid #e6e8eb;
    margin-bottom: 12px;
    transition: all 0.3s ease;

    img.admin-logo-img {
      width: 32px;
      height: 32px;
      object-fit: contain;
      border-radius: 50%;
    }

    // &:hover {
    //   // color: #1565c0;
    //   // transform: scale(1.02);
    //   // cursor: pointer;
    // } 
  }

  .ant-menu {
    border-right: 0;
  }
}

body.theme-dark {
  .admin-sider {
    background: map.get($theme-colors, "bg-dark-blue");
    border-right: 1px solid #36465d;

    .admin-logo {
      color: #47a5fc;
      border-bottom: 1px solid #36465d;

      img.admin-logo-img {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      }
    }

    .ant-menu {
      background: transparent;

      .ant-menu-item {
        color: #cbd5e1; 
        transition: all 0.3s ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.05);
          color: #fff;
        }

        &.ant-menu-item-selected {
          background-color: rgba(71, 165, 252, 0.15);
          color: #47a5fc;
        }
      }
    }
  }
}
